<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Notes App</title>
  <link rel="stylesheet" href="/notes.css"></li>
</head>
<body>
  <h1>Notes App</h1>
  <p>Your personal place to keep notes.</p>
  <div class="quick-search">
    <form action="/notes" method="GET" class="inline-form">
      <input type="text" name="search" placeholder="Quick search..." required />
      <button type="submit">Search</button>
    </form>
  </div>
  
  
  <ul>
    <% notes.forEach(note => { %>
        
        <li>
            <h2><%=note.title%></h2>
            <p><%=note.content.substring(0, 130) + "..."%></p>
            <a href="/notes/<%= note.id %>" class="button">View more</a>
        </li>
    <% })%>
    </ul>
  <a href="/createNote" class="button">Create a note</a>
</body>
</html>